<table class="simple-little-table" style="width: 723px; position: absolute; margin-top: -2px">
    <thead>
        <th style="width: 80px;">ID</th>
        <th style="width: 350px;">Имя</th>
        <th style="width: 210px;">среднемесячная заработная плата</th>
    </thead>
</table>

<table class="simple-little-table">
    <thead>
        <th style="width: 80px;">ID</th>
        <th style="width: 350px;">Имя</th>
        <th style="width: 210px;">среднемесячная заработная плата</th>
    </thead>
    <%data.List.forEach(function(item, i, arr){%>
        <tr id="ListItem<%=item.id%>">
            <td><span><a href="#" id="tid"><%=item.id%></a></span></td>
            <td><span><a href="#" id="tname"><%=item.name%></a></span></td>
            <td>
                <span><a href="#" id="tsum"><%=parseInt(item.sum).toFixed(2)%></a></span>
                <span class="DelMiniBtn" id="DelItem<%=item.id%>">&nbsp;x&nbsp;</span>
            </td>
        </tr>
    <%});%>
    <%if(data.List.length==0){%>
        <tr>
            <td colspan="3" style="text-align:center;">Список пуст</td>
        </tr>
    <%}%>
</table>