<%var Dates = require("../Lib/modules/Dates");%>
<div id='AppsDetail'>
	<table class='simple-little-table' cellspacing='0'>
		<tr>
			<td>Название:</td>
			<td><%=data.inRec.Name%></td>
		</tr>
		
		<tr>
			<td>Дата:</td>
			<td><%=new Date(Date.parse(data.inRec.Date)).toUTCString()%></td>
		</tr>
				
		<tr>
			<td>Клиент:</td>
			<td>
				<%=data.inRec.ClientName%>
			</td>
		</tr>
		
		<tr>
			<td>Исполнитель:</td>
			<td>
				<% if(data.inInfo.role>0){ %>
					<%=data.inRec.ExecutorName%>
				<% }else{ %>
					<select id='editappexecut'><option value='null'>-пусто-</option>
					<% _.each(data.inList,function(item){ %>
						<option value='<%=item.login.toLowerCase()%>'
						
						<% if(data.inRec.Executor && data.inRec.Executor.toLowerCase()==item.login.toLowerCase()){ %>
								selected='selected'
						<% } %>
						>
							<%=item.name %>
						</option>
					<% });%>
				<% } %>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>Приоритет:</td>
			<td>
				<% (data.inRec.Priority==0? print("Низкий"):
				(data.inRec.Priority==1?print("Средний"):print("Высокий"))) %>
			</td>
		</tr>
		
		<tr>
			<td>Предельный срок:</td>
			<td>
			<% if(data.inInfo.role>0){%>
				<%=new Date(Date.parse(data.inRec.Deadline)).toUTCString()%>
			<% }else{ %>
				<input type="datetime-local" id="editappdeadline" 
				value="<%=Dates.dateFormat1(data.inRec.Deadline)%>">
			<% } %>
			</td>
		</tr>
				
		<tr>
			<td>Предпологаемый срок:</td>
			<td>
				<% if(data.inInfo.role==2){%>
					<%=new Date(Date.parse(data.inRec.Estimated)).toUTCString()%>
				<%}else{ %>
					<input type="datetime-local" id="editappestimated"
					value="<%=Dates.dateFormat1(data.inRec.Estimated)%>">
				<%} %>
			</td>
		</tr>
		
		<% if(data.inInfo.role==2){ %>
			<tr>
				<td>Завершено:</td>
				<td> <%=data.inRec.Progress %>%</td>
			</tr>
		<% }else{ %>
			<tr>
				<td>Завершено:</td><td><input type='number' 
				value='<%=data.inRec.Progress %>' min='0' max='100' 
				id='editappstatus'>
				%
				</td>
			</tr>
		<% } %>
		
		<tr>
			<td colspan='2' class='vertAlTop'>
				Описание:<br><%=data.inRec.Discription%>
			</td>
		</tr>
	</table>
</div>