<div id='AppsList'>
	  <table class='simple-little-table'  cellspacing='0'>
		  <tr>
		  		<th class='pointerCl'>
				 	Название
				</th>
		  		<th class='pointerCl'>
		  			Дата
		  		</th>
		  		<% if(data.inInfo.role!=2){ %>
		  			<th class='pointerCl'>
		  				Клиент
		  			</th>
		  		<% } %>
		  		<% if(data.inInfo.role==0){%>
		  			<th class='pointerCl'>
		  				Исполнитель
		  			</th>
		  		<% } %>
		  		<th class='pointerCl'>
		  			Приоритет
		  		</th>
		  		<th class='pointerCl'>
		  			Предельный срок
		  		</th>
		  		<% if(data.inInfo.role!=2){ %>
		  			<th class='pointerCl'>
		  				Предпологаемый срок
		  			</th>
		  		<% } %>
		  		<th class='pointerCl'>
		  			Завершено
		  		</th>
		  </tr>
		  
		  <% if(data.inList.length==0){ %>
			  <tr>
			  	<td colspan='8' class="centerText">Нет заявок</td>
			  </tr>
		  </table>
			  
		  <% }else{ %>
			  <% for (var x in data.inList) { %>
			    <tr class='pointerCl' 
				 	onclick='getContent("#AppsDetail?id=<%=data.inList[x].id%>",true);'>
				 <td>
				 	<%=data.inList[x].Name%>
				 </td>
				 <td>
				  	<%=new Date(Date.parse(data.inList[x].Date)).toUTCString()%>
				 </td>


				 
				<% if(data.inInfo.role!=2){ %>
			    <td>
                    <%=data.inList[x].ClientName %>
                </td>
				<% } %>
				
				<% if(data.inInfo.role==0){%>
				<td>
                    <%=data.inList[x].ExecutorName %>
				 </td>
				 <% } %>
				 
				 <td>
				 	<%if(data.inList[x].Priority==0){%>
				 		"Низкий"
				 	<% }else if(data.inList[x].Priority==1){%>
				 		"Средний"
				 	<% }else{ %> 
				 		"Высокий"
				 	<% } %>
				</td>
				
				
				<td>
				  <%=new Date(Date.parse(data.inList[x].Deadline)).toUTCString()%>
				</td>
				<% if(data.inInfo.role!=2){ %>
				<td>
				  	<%=new Date(Date.parse(data.inList[x].Estimated)).toUTCString()%>
				</td>
				<% } %>
				<td>
				  <%=data.inList[x].Progress %>%
				 </td>
			    </tr>
			  <% } %>
		  <% } %>
	  </table>
</div>